.benefits__Wrap {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem 5rem;
}

@media screen and (max-width: 767px) {
    .benefits__Wrap {
        flex-direction: column;
        gap: 5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 767.98px) and (max-width: 1200px) {
    .content__Wrap {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
}