.form__Wrap,
.bottom__Row,
.legal__Info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__Wrap {
    background-color: #fff;
    min-width: 25%;
    max-width: 32%;
    padding: 1.5rem 2rem;
    border-radius: 12px;
    flex-direction: column;
    gap: 2rem;
}

.bottom__Row {
    gap: 0.75rem;
    font-size: 0.85rem;
    color: #808080;
}

.legal__Info {
    gap: 0.4rem;
    font-size: 0.65rem;
    white-space: nowrap;
}

.input__Col {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .form__Wrap {
        width: 90%;
        max-width: unset;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .legal__Info {
        flex-wrap: wrap;
    }
}