.custom__Pagination__Wrap,
.pagination__Detail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom__Pagination__Wrap {
    gap: 1rem;
    transition: 0.3s all ease-in-out;
}

.pagination__Content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.pagination__Detail {
    gap: 0.2rem;
    font-size: 0.875rem;
}

.current__Page {
    font-size: 1.4rem;
    transition: 0.3s all ease-in-out;
    font-family: var(--mako-font);
}

.progress__Bar {
    position: relative;
    background-color: #d3d3d3;
    width: 8rem;
    height: 0.2rem;
}

.progress {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-app-color);
    transition: 0.3s all ease-in-out;
}
