.item__Wrap,
.master__Item {
    display: flex;
    flex-direction: column;
}

.item__Wrap {
    gap: 0.6rem;
}

.master__Item {
    gap: 1rem;
    border: 1px solid #d3d3d3;
    padding: 1rem 1rem 2rem;
    border-radius: 12px;
    width: calc(calc(100% / 2) - 0.8rem);
    align-items: center;
}

.items__List {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
    .items__List {
        flex-direction: column;
    }
    
    .master__Item {
        width: 100%;
    }
}