.content__Wrap,
.content,
.masters__Wrap,
.master__item,
.description__Content {
    display: flex;
    flex-direction: column;
}

.content__Wrap {
    gap: 1.5rem;
}

.content {
    gap: 2.5rem;
}

.masters__Wrap,
.description__Content {
    gap: 1rem;
}

.header,
.content__header {
    font-family: var(--mako-font);
}

.header {
    text-transform: capitalize;
}

.content__header {
    text-transform: uppercase;
}

.intro {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.masters {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.masters__Wrap {
    width: 100%;
}

.master__item {
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    text-transform: capitalize;
    font-size: 0.75rem;
    cursor: pointer;
}

.description__Content p {
    white-space: pre-line;
    font-size: 0.875rem;
}

@media screen and (max-width: 767px) {
    .header {
        font-size: 1.2rem;
    }

    .intro {
        flex-direction: column;
    }   
    
    .content__header {
        font-size: 0.875rem;
    }

    .description__Content p {
        font-size: 0.75rem;
    }
}