.content__Wrap {
    padding: 2rem 4rem 10rem;
    height: 100%;
    width: 100%;
    min-height: 90dvh;
    overflow-y: auto;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.header__Wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header {
    font-family: var(--mako-font);
    font-size: 1.5rem;
    letter-spacing: 0.01em;
    text-transform: capitalize;
}

.all__places {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    height: 100%;
}

.all__places > * {
    width: calc(calc(100% / 3) - 1.5rem) !important;
}

.empty__places {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70dvh;
}

@media screen and (max-width: 767px) {
    .content__Wrap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .all__places {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .all__places > * {
        width: 100% !important;
    }
}